body {
	background-color: #006464;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}
h1 {
	text-align: center;
	margin-bottom: 50px;
}

a {
	text-decoration: none;
}

#recorder{
	text-align: center;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 30px;
}

#codeDay {
	background-color: orange;
	width: 50%;
	margin: 0 auto
}