body {
	background-image: url('squairy.png');
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}

.title {
	text-align: center;
	color: #575757;
	font-size: 600%;
}

a {
	text-decoration: none;
}


.sub {
	margin-top: -50px;
	color: #797979;
	font-style: italic;
	font-size: 100%;
	margin-bottom: 50px;
}

input {
	color: #CCC;
	margin: 0 auto;
	text-align: center;
	font-size: 350%;
	width: 30%;
	height: 100px;
	border-radius: 10px;
}

#wrapper {
	width: 100%;
}

#recorder {
	color: #575757;
	text-align: center;
	margin: 0 auto;
	width: 50%;
	margin-bottom: 150px;
}

#codeDay {
	font-family: "Helvetica Neue";
	padding: 5% 2% 5% 2%;
	text-align: center;
	font-size: 700%;
	background-color: #05EDFF;
	opacity: 0;
	border-radius: 10px;
	position: fixed;
	left: 10%;
	text-shadow: 1px 1px white, -1px -1px #444;
}